<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="<%= GDPSID %>/css/index.css" rel="stylesheet" />
	<title>Создать гаунтлет | <%= GDPS %></title>
	<link rel="stylesheet" href="https://cdn.forever-gdps.host/engines/transitions.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="<%= GDPSID %>/js/render.js"></script>
	<noscript>Включите JavaScript в браузере для корректной работы сайта</noscript>
	<forcehead>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://unpkg.com/swup@4"></script>
		<script src="https://unpkg.com/@swup/scripts-plugin@2"></script>
	</forcehead>
</head>

<body>
	<%- include("../../debugWindow") %>
	<main id="swup" class="transition-main">
		<style>
		body {
			text-align: center;
			display: block;
		}
		.level-input {
            margin: 10px;
            width: 65px;
        }
        @media screen and (min-width: 768px) {
            .level-input_container {
                margin-left: 250px;
                margin-right: 250px;
            }
        }
        @media screen and (max-width: 767px) {
            .stars-coins-input {
                width: 55px;
            }
        }
        .input-error {
            border-color: red;
            color: red;
        }
        .input-error:focus {
            color: red !important;
            border-color: red !important;
        }
        @media screen and (max-width: 767px) {
            .input-error {
                width: 55px;
                border-color: red;
                color: red;
            }
        }
	</style>
	
	<h1>Создать гаунтлет</h1>
	<select name="type">
		<option value="-1" disabled selected>Выберите гаунтлет</option>
		<optgroup label="2.1 гаунтлеты">
			<option value="1">Fire</option>
			<option value="2">Ice</option>
			<option value="3">Poison</option>
			<option value="4">Shadow</option>
			<option value="5">Lava</option>
			<option value="6">Bonus</option>
			<option value="7">Demon</option>
			<option value="8">Time</option>
			<option value="9">Crystal</option>
			<option value="10">Magic</option>
			<option value="11">Spike</option>
			<option value="12">Monster</option>
			<option value="13">Doom</option>
			<option value="14">Death</option>
		</optgroup>
		<optgroup label="2.2 гаунтлеты"></optgroup>
			<option value="15">Forest</option>
			<option value="16">Rune</option>
			<option value="17">Force</option>
			<option value="18">Spooky</option>
			<option value="19">Dragon</option>
			<option value="20">Water</option>
			<option value="21">Haunted</option>
			<option value="22">Acid</option>
			<option value="23">Witch</option>
			<option value="24">Power</option>
			<option value="25">Potion</option>
			<option value="26">Snake</option>
			<option value="27">Toxic</option>
			<option value="28">Halloween</option>
			<option value="29">Treasure</option>
			<option value="30">Ghost</option>
			<option value="31">Spider</option>
			<option value="32">Gem</option>
			<option value="33">Inferno</option>
			<option value="34">Portal</option>
			<option value="35">Strange</option>
			<option value="36">Fantasy</option>
			<option value="37">Christmas</option>
			<option value="38">Surprise</option>
			<option value="39">Mystery</option>
			<option value="40">Cursed</option>
			<option value="41">Cyborg</option>
			<option value="42">Castle</option>
			<option value="43">Grave</option>
			<option value="44">Temple</option>
			<option value="45">World</option>
			<option value="46">Galaxy</option>
			<option value="47">Universe</option>
			<option value="48">Discord</option>
			<option value="49">Split</option>
			<option value="50">NCS I</option>
			<option value="51">NCS II</option>
		</optgroup>
		<optgroup label="Пустые гаунтлеты">
			<option value="52">Unknown 1</option>
			<option value="53">Unknown 2</option>
			<option value="54">Unknown 3</option>
			<option value="55">Unknown 4</option>
		</optgroup>
	</select>
	
	<div class="level-input_container">
		<p>* В 2.2 гаунтлеты не будут отображаться, если их меньше 4-х. Если у вас их меньше, создайте пустые гаунтлеты (в конце списка: Unknown 1/2/3/4) и введите несуществующие уровни для 2.200 - 2.206. Для 2.207 и выше - невозможные уровни.</p>
		<input type="number" name="level1" min="1" max="4294967296" class="level-input" placeholder="Level 1">
		<input type="number" name="level2" min="1" max="4294967296" class="level-input" placeholder="Level 2">
		<input type="number" name="level3" min="1" max="4294967296" class="level-input" placeholder="Level 3">
		<input type="number" name="level4" min="1" max="4294967296" class="level-input" placeholder="Level 4">
		<input type="number" name="level5" min="1" max="4294967296" class="level-input" placeholder="Level 5">
	</div>
	<br><br>
	<button id="submit">Сохранить</button>
	<div id="gError"></div>
	<br><br>
	<button id="back">Назад</button>
	
	<script>
		$(document).ready(function () {
			$('#submit').click(function(e) {
				const TYPE = $('select[name="type"]').val();
				const LEVEL_1 = $('input[name="level1"]').val();
				const LEVEL_2 = $('input[name="level2"]').val();
				const LEVEL_3 = $('input[name="level3"]').val();
				const LEVEL_4 = $('input[name="level4"]').val();
				const LEVEL_5 = $('input[name="level5"]').val();

				const regex = /[-+\.e]/;
				const testInt = (variable) => {
    				return !regex.test(variable) && !isNaN(variable) && variable !== '';
				};

				// проверка, что все поля заполнены
				if (!LEVEL_1 || !LEVEL_2 || !LEVEL_3 || !LEVEL_4 || !LEVEL_5) {
    				$('#gError').html('<br><br><font color="red">Введите ID уровней</font>');
    				return;
				}

				// проверка, что все введённые значения - числа
				const levels = [LEVEL_1, LEVEL_2, LEVEL_3, LEVEL_4, LEVEL_5];
				for (let i = 0; i < levels.length; i++) {
    				const level = parseFloat(levels[i]);
    				if (isNaN(level) || !testInt(level)) {
        				$('#gError').html('<br><br><font color="red">Введите корректный ID уровней</font>');
        				return;
    				}
				}
				
				console.log(TYPE);
				if (TYPE == "-1" || TYPE == null) {
					$('#gError').html('<br><br><font color="red">Выберите название гаунтлета</font>');
					return;
				}

				$('#submit').prop('disabled', true);
				$('#back').prop('disabled', true);
				async function sendQuery(params) {
					const res = await sendPost('<%= GDPSID %>/panel/packs/gauntlets/create', params);
					if (res == "1") {
						swup.navigate('<%= GDPSID %>/panel/packs/gauntlets');
						return;
					} else {
						$('#submit').prop('disabled', false);
						$('#back').prop('disabled', false);
						$('#gError').html(`<br><br><font color="red">Ошибка. Возможно, такой тип гаунтлета уже существует<br>Details: ${res}</font>`);
						return;
					}
				}

				const params = {
					ID: TYPE,
					level1: LEVEL_1,
					level2: LEVEL_2,
					level3: LEVEL_3,
					level4: LEVEL_4,
					level5: LEVEL_5
				}
				sendQuery(params);
			});

			$('#back').click(function() {
                $('#back').prop('disabled', true);
                swup.navigate('<%= GDPSID %>/panel/packs/gauntlets');
                $('#back').prop('disabled', false);
            });
		});
	</script>
	</main>
</body>
<script>
	var swup = new Swup ({
		containers: ["#swup", "forcehead"], 
		linkSelector: 'a[soft]', 
		cache: false, 
		plugins: [
			new SwupScriptsPlugin()
		]
	});
	</script>
</html>