<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="<%= GDPSID %>/css/index.css" rel="stylesheet" />
	<title>Изменить пароль | <%= GDPS %></title>
	<link rel="stylesheet" href="https://cdn.forever-gdps.host/engines/transitions.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="<%= GDPSID %>/js/render.js"></script>
	<noscript>Включите JavaScript в браузере для корректной работы сайта</noscript>
	<forcehead>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://unpkg.com/swup@4"></script>
		<script src="https://unpkg.com/@swup/scripts-plugin@2"></script>
	</forcehead>
</head>

<body> 
<%- include("../../debugWindow") %>
	<main id="swup" class="transition-main">
	<style>
		body {
			text-align: center;
			display: block;
		}
	</style>
	<script src="<%= GDPSID %>/js/render.js"></script>
	<%- // include("../../debugWindow") %>
	<h1>Изменить пароль</h1>
	<p>
		В целях безопасности, мы не храним ваш пароль, поэтому введите его сами.
	</p>
	<label>Старый пароль</label>
	<br> 
	<input type="password" minlength="6" maxlength="20" autocomplete="off" name="oldpassword" placeholder="Старый пароль">
	<br><br>
	<label>Новый пароль</label>
	<br>
	<input type="password" autocomplete="off" name="newpassword" placeholder="Новый пароль">
	<br><br>
	<label>Повторите новый пароль</label>
	<br>
	<input type="password" autocomplete="off" name="repeatNewPassword" placeholder="Повторите пароль">
	<br><br>
	<button id="submit">Изменить пароль</button>
	<br><br>
	<button id="back">Назад</button>
	<p>
		<div id="result"></div>
	</p>
	
	
	<script>
	var swup = new Swup ({
		containers: ["#swup", "forcehead"], 
		linkSelector: 'a[soft]', 
		cache: false, 
		plugins: [
			new SwupScriptsPlugin()
		]
	});
	swup.cache.clear(); 
		// $(document).ready(function() {
		try {
			$('#submit').click(function(e) {
				e.preventDefault();
				$('#submit').prop('disabled', true);
				$('#back').prop('disabled', true);
				const newpassword = $('input[name="newpassword"]').val();
				const oldpassword = $('input[name="oldpassword"]').val();
				const rnp = $('input[name="repeatNewPassword"]').val();
				if (newpassword == oldpassword) {
					$('#result').html(`<font color="red">Новый пароль совпадает со старым</font>`);
					$('#submit').prop('disabled', false);
					$('#back').prop('disabled', false);
				} else if (newpassword.length < 6 || newpassword.length > 20) {
					$('#result').html(`<font color="red">Длина пароля должна быть от 6-ти до 20 символов</font>`);
					$('#submit').prop('disabled', false);
					$('#back').prop('disabled', false);
				} else if (newpassword != rnp) {
					$('#result').html(`<font color="red">Пароли не совпадают</font>`);
					$('#submit').prop('disabled', false);
					$('#back').prop('disabled', false);
				} else {
					const params = {
						userName: "<%= username %>", 
						oldpassword: oldpassword, 
						newpassword: newpassword,
						accid: "<%= accountID %>"
					}
					async function changeUsernameAs(params) {
						const res = await sendPost('<%= GDPSID %>/panel/accounts/changePassword', params);
						if (res == "1") {
							document.getElementById("result").innerHTML = `Пароль успешно изменён! Перезайдите в панель и в аккаунт на GDPS через "Refresh Login"<br><br><button id="exitBtn2">Перезайти в панель</button>`;
							$('#exitBtn2').click(function(e) {
								$('#exitBtn2').prop('disabled', true);
								const params = {
									username: "Test"
								}
								sendPost('<%= GDPSID %>/panel/accounts/exit');
								setTimeout(() => {
									location.href = '<%= GDPSID %>/panel/accounts/login';
								}, 500)
								$('#exitBtn2').prop('disabled', false);
							});
						} else if (res == "-1" || res == "-2") {
							document.getElementById("result").innerHTML = `<font color="red">Неверный пароль от аккаунта</font>`;
							$('#submit').prop('disabled', false);
							$('#back').prop('disabled', false);
						} else {
							document.getElementById("result").innerHTML = `<font color="red">Ошибка при изменении никнейма на стороне сервера. Попробуйте ещё раз (Response: ${res})</font>`;
							$('#submit').prop('disabled', false);
							$('#back').prop('disabled', false);
						}
					} 
					changeUsernameAs(params);
				} 
			});
			$('#back').click(function() {
				$('#back').prop('disabled', true);
				swup.navigate('<%= GDPSID %>/panel');
				return;
			});
			
		} catch (error) {
			console.warn("Trying to skip function calling...");
		}
	// });
	</script>
	</main>
	<script>
		/*var swup = new Swup ({
			containers: ["#swup"], 
			linkSelector: 'a[soft]', 
			cache: false, 
			plugins: [
				new SwupScriptsPlugin()
			]
		});*/
	</script>
</body>
</html>