<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="<%= GDPSID %>/css/index.css" rel="stylesheet" />
	<title>Удаление аккаунта | <%= GDPS %></title>
	<link rel="stylesheet" href="https://cdn.forever-gdps.host/engines/transitions.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="<%= GDPSID %>/js/render.js"></script>
	<noscript>Включите JavaScript в браузере для корректной работы сайта</noscript>
	<forcehead>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://unpkg.com/swup@4"></script>
		<script src="https://unpkg.com/@swup/scripts-plugin@2"></script>
	</forcehead>
</head>

<body>
	<%- include("../../debugWindow") %>
	<main id="swup" class="transition-main">
	<style>
		body {
			text-align: center;
			display: block;
		} 
		.warn_text {
			color: #ff2711;
		}
	</style>
	<script src="<%= GDPSID %>/js/render.js"></script>
	<h1>Удаление аккаунта</h1>
	<h2 class="warn_text">Внимание!</h2>
	После нажатия на кнопку "Удалить", ваш аккаунт навсегда будет удалён без возможности восстановления. 
	Также будут удалены все сохранённые данные аккаунта. Ещё раз подумайте, прежде чем выполнить это действие.
	<br><br>
	<label>Введите ниже <b><%= username %>:<%= GDPS %></b></label>
	<br>
	<input type="text" name="verify" placeholder="<%= username %>:<%= GDPS %>">
	<br><br>
	<!-- <div id="content"> -->
	<script src='https://js.hCaptcha.com/1/api.js'></script>
	<div id="h-captcha" class="h-captcha" data-sitekey="<%= captchaKey %>" data-theme="light"></div>
	<!-- </div> -->
	<br><br>
	<div id="timeout"></div>
	<button id="submit">Удалить аккаунт</button>
	<br><br>
	<button id="back">Назад</button>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	
	<script>
	$(document).ready(function() {
try {
hcaptcha.render('h-captcha', {
            sitekey: '<%= captchaKey %>',
            theme: 'light'
        }); 
} catch {
    // location.href = '<%= GDPSID %>/panel/accounts/delete';
     swup.navigate('<%= GDPSID %>/panel/accounts/delete');
    /* hcaptcha.render('h-captcha', {
            sitekey: '<%= captchaKey %>',
            theme: 'light'
        });  */
}
		$('#submit').prop('disabled', true);
		// $('#back').prop('disabled', true);
		
		function ptxt(text) {
			let keyvar;
			if (text == "4" || text == "3" || text == "2") {
				keyvar = "секунды";
			} else if (text == "1") {
				keyvar = "секунду";
			} else {
				keyvar = "секунд";
			}
			$('#timeout').html(`<br>Подождите ${text} ${keyvar}<br><br>`);
			return;
		}
		 
		$('#back').click(function() {
			$('#back').prop('disabled', true);
			swup.navigate('<%= GDPSID %>/panel');
			$('#back').prop('disabled', false);
		});
		
		$('#submit').click(function() {
		    const preVerify = "<%= username %>:<%= GDPS %>";
		    const preCurrent = $('input[name="verify"]').val();
		    if (preCurrent != preVerify) {
		        $('#timeout').html('<font color="red">Неверно введено НИКНЕЙМ:НАЗВАНИЕ_GDPS</font><br><br>');
		    } else {
		        $('#back').prop('disabled', true);
		        $('#submit').prop('disabled', true);
		        let hCaptchaResponse;
		        let dCaptchaResponse;
		        // hCaptchaResponse = $('input[name="h-captcha-response"]').val();
		        // try {
		            dCaptchaResponse = hcaptcha.getResponse();
		      /*  } catch (error) {
		            console.error("Failed to get captcha");
		        } */
		        
		        hCaptchaResponse = dCaptchaResponse; 
		        // console.info("response captcha:", hCaptchaResponse);
		        let f = <%= accountID %>; 
		        f = f.toString();
		        const params = {
		            captchaResponse: hCaptchaResponse, 
		            accountID: f
		        };
		        const voidParams = {
		            userName: "Test"
		        };
		        //console.log(params);
		        async function deleteAcc(params, hCaptchaResponse, voidParams) {
		            // console.log("hCaptchaRes 2:", hCaptchaResponse);
		            // console.log("params:", params);
		            const result = await sendPost('<%= GDPSID %>/panel/accounts/delete', params);
		            if (result == "1") {
		                $('#timeout').html(`Аккаунт успешно удалён!<br><br><button id="exitBtn">Перезайти в панель</button><br><br>`);
		                $('#exitBtn').click(function() {
		                    location.href = '<%= GDPSID %>/panel/accounts/login';
		                });
		                await sendPost('<%= GDPSID %>/panel/accounts/exit', voidParams);
		            } else if (result == "-2") {
		                $('#timeout').html('<font color="red">Вы не прошли капчу</font>');
		                $('#submit').prop('disabled', false);
		                $('#back').prop('disabled', false);
		            } else {
		                $('#timeout').html('<font color="red">Ошибка при удалении аккаунта</font><br><br>');
		                $('#submit').prop('disabled', false);
		                $('#back').prop('disabled', false);
		            }
		            return;
		        }
		        deleteAcc(params, hCaptchaResponse, voidParams);
		    } 
		});

		ptxt("15");
		if (typeof t !== "undefined") {
			console.info("Cleared timers");
			clearTimeout(tn5);
			clearTimeout(tn4);
			clearTimeout(tn3);
			clearTimeout(tn2);
			clearTimeout(tn1);
			clearTimeout(t);
			clearTimeout(t2);
			clearTimeout(t3);
			clearTimeout(t4);
			clearTimeout(t5);
			clearTimeout(t6);
			clearTimeout(t7);
			clearTimeout(t8);
			clearTimeout(t9);
			clearTimeout(t10);
		} else {
		let tn5, tn4, tn3, tn2, tn1, t, t2, t3, t4, t5, t6, t7, t8, t9, t10;
		}
		tn5 = setTimeout(() => {
			ptxt("14");
		}, 1000);
		tn4 = setTimeout(() => {
			ptxt("13");
		}, 2000);
		tn3 = setTimeout(() => {
			ptxt("12");
		}, 3000);
		tn2 = setTimeout(() => {
			ptxt("11");
		}, 4000);
		tn1 = setTimeout(() => {
			ptxt("10");
		}, 5000);
		t = setTimeout(() => {
			ptxt("9");
		}, 6000);
		t2 = setTimeout(() => {
			ptxt("8");
		}, 7000);
		t3 = setTimeout(() => {
			ptxt("7");
		}, 8000);
		t4 = setTimeout(() => {
			ptxt("6");
		}, 9000);
		t5 = setTimeout(() => {
			ptxt("5");
		}, 10000);
		t6 = setTimeout(() => {
			ptxt("4");
		}, 11000);
		t7 = setTimeout(() => {
			ptxt("3");
		}, 12000);
		t8 = setTimeout(() => {
			ptxt("2");
		}, 13000);
		t9 = setTimeout(() => {
			ptxt("1");
		}, 14000);
		t10 = setTimeout(() => {
			$('#submit').prop('disabled', false);
			$('#timeout').html("");
		}, 15000);
	});


	</script>
	</main>
	
	<script>
		var swup = new Swup ({
			containers: ["#swup", "forcehead"], 
			linkSelector: 'a[soft]', 
			cache: false, 
			plugins: [
				new SwupScriptsPlugin()
			]
		});
		var _0x4838c2=_0x2b6f;(function(_0x123688,_0x3ca404){var _0xe6a271=_0x2b6f,_0x5e0ec8=_0x123688();while(!![]){try{var _0x33917f=parseInt(_0xe6a271(0xa1))/0x1*(-parseInt(_0xe6a271(0x9c))/0x2)+parseInt(_0xe6a271(0x9f))/0x3*(parseInt(_0xe6a271(0x9d))/0x4)+parseInt(_0xe6a271(0xa0))/0x5+-parseInt(_0xe6a271(0xa6))/0x6+parseInt(_0xe6a271(0xa5))/0x7*(-parseInt(_0xe6a271(0xa2))/0x8)+-parseInt(_0xe6a271(0xa7))/0x9*(parseInt(_0xe6a271(0x9b))/0xa)+-parseInt(_0xe6a271(0x9a))/0xb*(-parseInt(_0xe6a271(0xa3))/0xc);if(_0x33917f===_0x3ca404)break;else _0x5e0ec8['push'](_0x5e0ec8['shift']());}catch(_0x5e7ff6){_0x5e0ec8['push'](_0x5e0ec8['shift']());}}}(_0x179e,0x93127),console[_0x4838c2(0x9e)](_0x4838c2(0xa4)));function _0x2b6f(_0x2d2ae0,_0x176962){var _0x179e46=_0x179e();return _0x2b6f=function(_0x2b6f3d,_0x30ae03){_0x2b6f3d=_0x2b6f3d-0x9a;var _0x4e514e=_0x179e46[_0x2b6f3d];return _0x4e514e;},_0x2b6f(_0x2d2ae0,_0x176962);}function _0x179e(){var _0x336ad3=['14377154bHucWH','20VbRNwy','4VPDlkN','172lUyoXB','warn','81276rOsCcb','2569465YFJFIC','50503ptGtIs','8224784rfOmLc','12hGuGHz','SwupDOM\x20loaded\x20after\x20all\x20scripts','7vwSrfN','3786336iRYKUJ','2804832yoYRqz'];_0x179e=function(){return _0x336ad3;};return _0x179e();}
	</script>
</body>
</html>
