<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="<%= GDPSID %>/css/index.css" rel="stylesheet" />
	<title>Создание роли | <%= GDPS %></title>
	<link rel="stylesheet" href="https://cdn.forever-gdps.host/engines/transitions.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="<%= GDPSID %>/js/render.js"></script>
	<noscript>Включите JavaScript в браузере для корректной работы сайта</noscript>
	<forcehead>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://unpkg.com/swup@4"></script>
		<script src="https://unpkg.com/@swup/scripts-plugin@2"></script>
	</forcehead>
</head>

<body>
	<%- include("../../debugWindow") %>
	<main id="swup" class="transition-main">
	<style>
		body {
			text-align: center;
			display: block;
		} 
		.button_badge {
			margin-right: 10px;
			margin-left: 10px;
			background-color: #e5e5e5;
			margin-bottom: 10px;
			user-select: none;
			-webkit-user-select: none; /* Safari */
			-moz-user-select: none;    /* Firefox */
			-ms-user-select: none;     /* Internet Explorer/Edge */
		}
		.button_badge__selected {
			margin-right: 10px;
			margin-left: 10px;
			background-color: #96cfff;
			margin-bottom: 10px;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}
	</style>
	<h1>Создание роли</h1>
	<label>Название роли</label>
	<br>
	<input type="text" name="roleName" maxlength="20" minlength="3" placeholder="Название роли">
	<br><br>
	<label>Цвет</label>
	<br>
	<input type="color" value="#1166ff">
	<br><br>
	<label>Значок роли</label>
	<br><br>
	<button id="noBadge" class="button_badge">Без значка</button><br>
	<button id="moderatorBadge" class="button_badge__selected"><img src="https://cdn.forever-gdps.host/gd/moderatorBadge.png" width="35px"></button>
	<button id="eldermoderatorBadge" class="button_badge"><img src="https://cdn.forever-gdps.host/gd/eldermoderatorBadge.png" width="35px"></button>
	<button id="helperBadge" class="button_badge"><img src="https://cdn.forever-gdps.host/gd/helperBadge.png" width="35px"></button>
	<br><br>
	
	<h2>Права роли</h2>
	<input type="checkbox" name="diffRatePerm" value="1"> Оценка на сложность (без звёзд) 
	<br>
	<input type="checkbox" name="starRatePerm" value="1"> Оценка на звёзды
	<br>
	<input type="checkbox" name="rateDemonPerm" value="1"> Оценка на Demon сложности
	<br>
	<input type="checkbox" name="featuredRatePerm" value="1"> Оценка на Featured
	<br>
	<input type="checkbox" name="epicRatePerm" value="1"> Оценка на Epic
	<br>
	<input type="checkbox" name="legendaryRatePerm" value="1"> Оценка на Legendary
	<br>
	<input type="checkbox" name="mythicRatePerm" value="1"> Оценка на Mythic
	<br>
	<input type="checkbox" name="sendRatePerm" value="1"> Отправка на оценку в Suggest-лист
	<br>
	<input type="checkbox" name="deleteCommentsPerm" value="1"> Удаление комментариев
	<h2>Настройка панели</h2>
	<input type="radio" name="panelType" id="defaultPanel" value="1">
	<label for="defaultPanel">Базовая панель</label>
	<br>
	<input type="radio" name="panelType" id="advancedPanel" value="2">
	<label for="advancedPanel">Расширенная панель</label>
	<br>
	<input type="radio" name="panelType" id="adminPanel" value="3">
	<label for="adminPanel">Админ панель</label>
	<h2>Дополнительно</h2>
	<input type="checkbox" name="reqActivating" value="1"> Активация роли через Options - Help - Req.
	<h2>Команды</h2>
	<font color="grey"> В комментарии к уровням</font>
	<br><br>
	<input type="checkbox" name="CMD_rate" value="1"> !rate
	<br>
	<input type="checkbox" name="CMD_unrate" value="1"> !unrate
	<br>
	<input type="checkbox" name="CMD_feature" value="1"> !feature
	<br>
	<input type="checkbox" name="CMD_epic" value="1"> !epic
	<br>
	<input type="checkbox" name="CMD_unepic" value="1"> !unepic
	<br>
	<input type="checkbox" name="CMD_verifycoins" value="1"> !verifycoins / !unverifycoins
	<br>
	<input type="checkbox" name="CMD_daily" value="1"> !daily
	<br>
	<input type="checkbox" name="CMD_weekly" value="1"> !weekly
	<br>
	<input type="checkbox" name="CMD_delete" value="1"> !delete
	<br>
	<input type="checkbox" name="CMD_setacc" value="1"> !setacc 
	<br>
	<input type="checkbox" name="CMD_rename" value="1"> !rename 
	<br>
	<input type="checkbox" name="CMD_pass" value="1"> !pass
	<br>
	<input type="checkbox" name="CMD_description" value="1"> !description
	<br>
	<input type="checkbox" name="CMD_unlist" value="1"> !unlist 
	<br>
	<input type="checkbox" name="CMD_song" value="1"> !song
	
	<br><br>
	<div id="result"></div>
	<br><br>
	<button id="submit">Создать роль</button>
	<br><br>
	<button id="back">Назад</button>
	<br><br><br><br>
	

	
	<script>
		$(document).ready(function() {
			$('#defaultPanel').prop('checked', true);
			$('input[name="reqActivating"]').prop('checked', true);
			
			$('#adminPanel').change(function () {
				// alert("Давать это право опасно, так как будет выдан полный доступ ко всем инструментам");
				Swal.fire({
					title: 'Предупреждение',
					text: 'Давать это право опасно, так как будет выдан полный доступ ко всем инструментам и управлению всем GDPS!',
					icon: 'warning',
					confirmButtonText: 'OK'
				});
			});
			
			$('input[name="sendRatePerm"]').change(function () {
				if ($(this).is(':checked')) {
					$('input[name="rateDemonPerm"]').prop("checked", false);
					$('input[name="rateDemonPerm"]').prop("disabled", true);
					$('input[name="starRatePerm"]').prop("checked", false);
					$('input[name="starRatePerm"]').prop("disabled", true);
					$('input[name="featuredRatePerm"]').prop("checked", false);
					$('input[name="featuredRatePerm"]').prop("disabled", true);
					$('input[name="epicRatePerm"]').prop("checked", false);
					$('input[name="epicRatePerm"]').prop("disabled", true);
					$('input[name="legendaryRatePerm"]').prop("checked", false);
					$('input[name="legendaryRatePerm"]').prop("disabled", true);
					$('input[name="mythicRatePerm"]').prop("checked", false);
					$('input[name="mythicRatePerm"]').prop("disabled", true);
				} else {
					$('input[name="rateDemonPerm"]').prop("disabled", false);
					$('input[name="starRatePerm"]').prop("disabled", false);
					$('input[name="featuredRatePerm"]').prop("disabled", false);
					$('input[name="epicRatePerm"]').prop("disabled", false);
					$('input[name="legendaryRatePerm"]').prop("disabled", false);
					$('input[name="mythicRatePerm"]').prop("disabled", false); 
				}
			});
			
			var BADGE = 1;

			$('#submit').click(function (e) {
				$('#result').html("Загрузка...");
				$('#submit').prop('disabled', true);
				$('#back').prop('disabled', true);
				// HEX => RGB
				const hexToRgb = (hex) => {
					const bigint = parseInt(hex.slice(1), 16);
					const r = (bigint >> 16) & 255;
					const g = (bigint >> 8) & 255;
					const b = bigint & 255;
					return `${r.toString().padStart(3, '0')},${g.toString().padStart(3, '0')},${b.toString().padStart(3, '0')}`;
				};
				
				const COLOR = hexToRgb($('input[type="color"]').val());
				
				
				// actions n panel type
				let $diffRatePerm;
				let $starRatePerm;
				let $rateDemonPerm;
				let $featuredRatePerm;
				let $epicRatePerm;
				let $legendaryRatePerm;
				let $mythicRatePerm;
				let $sendRatePerm;
				let $panelType;
				let $reqActivating;
				let $deleteCommentsPerm;

				
				
				// commands
				let CMD_rate;
				let CMD_unrate
				let CMD_feature;
				let CMD_epic;
				let CMD_unepic;
				let CMD_verifycoins;
				let CMD_daily;
				let CMD_weekly;
				let CMD_delete;
				let CMD_setacc;
				let CMD_rename;
				let CMD_pass;
				let CMD_description;
				let CMD_unlist;
				let CMD_song;
				
				// actions n panel type
				if ($('input[name="diffRatePerm"]').is(':checked')) {
					$diffRatePerm = $('input[name="diffRatePerm"]').val();
				} else {
					$diffRatePerm = "0";
				}
				if ($('input[name="starRatePerm"]').is(':checked')) {
					$starRatePerm = $('input[name="starRatePerm"]').val();
				} else {
					$starRatePerm = "0";
				}
				if ($('input[name="rateDemonPerm"]').is(':checked')) {
					$rateDemonPerm = $('input[name="rateDemonPerm"]').val();
				} else {
					$rateDemonPerm = "0";
				}
				if ($('input[name="featuredRatePerm"]').is(':checked')) {
					$featuredRatePerm = $('input[name="featuredRatePerm"]').val();
				} else {
					$featuredRatePerm = "0";
				}
				if ($('input[name="epicRatePerm"]').is(':checked')) {
					$epicRatePerm = $('input[name="epicRatePerm"]').val();
				} else {
					$epicRatePerm = "0";
				}
				if ($('input[name="legendaryRatePerm"]').is(':checked')) {
					$legendaryRatePerm = $('input[name="legendaryRatePerm"]').val();
				} else {
					$legendaryRatePerm = "0";
				}
				if ($('input[name="mythicRatePerm"]').is(':checked')) {
					$mythicRatePerm = $('input[name="mythicRatePerm"]').val();
				} else {
					$mythicRatePerm = "0";
				}
				if ($('input[name="sendRatePerm"]').is(':checked')) {
					$sendRatePerm = $('input[name="sendRatePerm"]').val();
				} else {
					$sendRatePerm = "0";
				}
				if ($('input[name="deleteCommentsPerm"]').is(':checked')) {
					$deleteCommentsPerm = $('input[name="deleteCommentsPerm"]').val();
				} else {
					$deleteCommentsPerm = "0";
				}
				
				// panel type logic
				if ($('#defaultPanel').is(':checked')) {
					$panelType = $('#defaultPanel').val();
				} else if ($('#advancedPanel').is(':checked')) {
					$panelType = $('#advancedPanel').val();
				} else if ($('#adminPanel').is(':checked')) {
					$panelType = $('#adminPanel').val();
				} else {
					$panelType = "1";
				}
				
				// additionally
				if ($('input[name="reqActivating"]').is(':checked')) {
					$reqActivating = $('input[name="reqActivating"]').val();
				} else {
					$reqActivating = "0";
				}
				
				// commands
				if ($('input[name="CMD_rate"]').is(':checked')) {
					CMD_rate = $('input[name="CMD_rate"]').val();
				} else {
					CMD_rate = "0";
				}
				if ($('input[name="CMD_unrate"]').is(':checked')) {
					CMD_unrate = $('input[name="CMD_unrate"]').val();
				} else {
					CMD_unrate = "0";
				}
				if ($('input[name="CMD_feature"]').is(':checked')) {
					CMD_feature = $('input[name="CMD_feature"]').val();
				} else {
					CMD_feature = "0";
				}
				if ($('input[name="CMD_epic"]').is(':checked')) {
					CMD_epic = $('input[name="CMD_epic"]').val();
				} else {
					CMD_epic = "0";
				}
				if ($('input[name="CMD_unepic"]').is(':checked')) {
					CMD_unepic = $('input[name="CMD_unepic"]').val();
				} else {
					CMD_unepic = "0";
				}
				if ($('input[name="CMD_verifycoins"]').is(':checked')) {
					CMD_verifycoins = $('input[name="CMD_verifycoins"]').val();
				} else {
					CMD_verifycoins = "0";
				}
				if ($('input[name="CMD_daily"]').is(':checked')) {
					CMD_daily = $('input[name="CMD_daily"]').val();
				} else {
					CMD_daily = "0";
				}
				if ($('input[name="CMD_weekly"]').is(':checked')) {
					CMD_weekly = $('input[name="CMD_weekly"]').val();
				} else {
					CMD_weekly = "0";
				}
				if ($('input[name="CMD_delete"]').is(':checked')) {
					CMD_delete = $('input[name="CMD_delete"]').val();
				} else {
					CMD_delete = "0";
				}
				if ($('input[name="CMD_setacc"]').is(':checked')) {
					CMD_setacc = $('input[name="CMD_setacc"]').val();
				} else {
					CMD_setacc = "0";
				}
				if ($('input[name="CMD_rename"]').is(':checked')) {
					CMD_rename = $('input[name="CMD_rename"]').val();
				} else {
					CMD_rename = "0";
				}
				if ($('input[name="CMD_pass"]').is(':checked')) {
					CMD_pass = $('input[name="CMD_pass"]').val();
				} else {
					CMD_pass = "0";
				}
				if ($('input[name="CMD_description"]').is(':checked')) {
					CMD_description = $('input[name="CMD_description"]').val();
				} else {
					CMD_description = "0";
				}
				if ($('input[name="CMD_unlist"]').is(':checked')) {
					CMD_unlist = $('input[name="CMD_unlist"]').val();
				} else {
					CMD_unlist = "0";
				}
				if ($('input[name="CMD_song"]').is(':checked')) {
					CMD_song = $('input[name="CMD_song"]').val();
				} else {
					CMD_song = "0";
				}
				
				const properties = {
					rolename: $('input[name="roleName"]').val(),
					color: COLOR,
					badge: parseInt(BADGE)
				};
				const actions = {
					diffRatePerm: parseInt($diffRatePerm),
					starRatePerm: parseInt($starRatePerm),
					rateDemonPerm: parseInt($rateDemonPerm),
					featuredRatePerm: parseInt($featuredRatePerm),
					epicRatePerm: parseInt($epicRatePerm),
					legendaryRatePerm: parseInt($legendaryRatePerm),
					mythicRatePerm: parseInt($mythicRatePerm),
					sendRatePerm: parseInt($sendRatePerm),
					panelType: parseInt($panelType),
					reqActivating: parseInt($reqActivating),
					deleteCommentsPerm: parseInt($deleteCommentsPerm)
				};
				const commands = {
					CMD_rate: parseInt(CMD_rate),
					CMD_unrate: parseInt(CMD_unrate),
					CMD_feature: parseInt(CMD_feature),
					CMD_epic: parseInt(CMD_epic),
					CMD_unepic: parseInt(CMD_unepic),
					CMD_verifycoins: parseInt(CMD_verifycoins),
					CMD_daily: parseInt(CMD_daily),
					CMD_weekly: parseInt(CMD_weekly),
					CMD_delete: parseInt(CMD_delete),
					CMD_setacc: parseInt(CMD_setacc),
					CMD_rename: parseInt(CMD_rename),
					CMD_pass: parseInt(CMD_pass),
					CMD_description: parseInt(CMD_description),
					CMD_unlist: parseInt(CMD_unlist),
					CMD_song: parseInt(CMD_song)
				};

				async function sendJSON(params) {
					const jres = await sendPostJSON('<%= GDPSID %>/panel/roles/create', params);
					console.log(JSON.stringify(jres, null, 2))
					const res = jres;
					if (res.createRole.status == 1) {
						$('#submit').prop('disabled', false);
						$('#back').prop('disabled', false);
						swup.navigate('<%= GDPSID %>/panel/roles');
					} else if (res.createRole.status == -1) {
						$('#submit').prop('disabled', false);
						$('#back').prop('disabled', false);
						$('#result').html(`<font color="red">Системная ошибка<br>Details: { "status": -1, "message": "${res.createRole.message}" }</font>`);
					} else if (res.createRole.status == -2) {
						$('#submit').prop('disabled', false);
						$('#back').prop('disabled', false);
						$('#result').html(`<font color="red">Роль с таким названием уже существует<br>Details: { "status": -2, "message": "${res.createRole.message}" }</font>`);
					} else if (res.createRole.status == -3) {
						$('#submit').prop('disabled', false);
						$('#back').prop('disabled', false);
						$('#result').html(`<font color="red">Вы не авторизованы в системе<br>Details: { "status": -3, "message": "${res.createRole.message}" }</font>`);
					} else {
						$('#submit').prop('disabled', false);
						$('#back').prop('disabled', false);
						$('#result').html(`<font color="red">Unhandled system error<br>Details: { "status": 0, "message": "" }</font>`);
					}
				}
				const params = {
					properties: properties,
					actions: actions,
					commands: commands
				};
				if ($('input[name="roleName"]').val().trim() == '') {
					$('#submit').prop('disabled', false);
					$('#back').prop('disabled', false);
					$('#result').html(`<font color="red">Введите название роли</font>`);
				} else {
					sendJSON(params);
				}
			});
			
			$('#noBadge').click(function (e) {
				$('#noBadge').removeClass('button_badge').addClass('button_badge__selected');
				$('#moderatorBadge').removeClass('button_badge__selected').addClass('button_badge');
				$('#eldermoderatorBadge').removeClass('button_badge__selected').addClass('button_badge');
				$('#helperBadge').removeClass('button_badge__selected').addClass('button_badge');
				BADGE = 0;
			});
			
			$('#moderatorBadge').click(function (e) {
				$('#moderatorBadge').removeClass('button_badge').addClass('button_badge__selected');
				$('#noBadge').removeClass('button_badge__selected').addClass('button_badge');
				$('#eldermoderatorBadge').removeClass('button_badge__selected').addClass('button_badge');
				$('#helperBadge').removeClass('button_badge__selected').addClass('button_badge');
				BADGE = 1;
			});
			
			$('#eldermoderatorBadge').click(function (e) {
				$('#eldermoderatorBadge').removeClass('button_badge').addClass('button_badge__selected');
				$('#noBadge').removeClass('button_badge__selected').addClass('button_badge');
				$('#moderatorBadge').removeClass('button_badge__selected').addClass('button_badge');
				$('#helperBadge').removeClass('button_badge__selected').addClass('button_badge');
				BADGE = 2;
			});
			
			$('#helperBadge').click(function (e) {
				$('#helperBadge').removeClass('button_badge').addClass('button_badge__selected');
				$('#noBadge').removeClass('button_badge__selected').addClass('button_badge');
				$('#eldermoderatorBadge').removeClass('button_badge__selected').addClass('button_badge');
				$('#moderatorBadge').removeClass('button_badge__selected').addClass('button_badge');
				BADGE = 3;
			});
			$('#back').click(function() {
				swup.navigate('<%= GDPSID %>/panel/roles');
			})
		});
	</script>
	</main>
</body>
<script>
	var swup = new Swup ({
		containers: ["#swup", "forcehead"], 
		linkSelector: 'a[soft]', 
		cache: false, 
		plugins: [
			new SwupScriptsPlugin()
		]
	});
	</script>
</html>