<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="<%= GDPSID %>/css/index.css" rel="stylesheet" />
	<title>Панель <%= GDPS %></title>
	<link rel="stylesheet" href="https://cdn.forever-gdps.host/engines/transitions.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="<%= GDPSID %>/js/render.js"></script>
	<noscript>Включите JavaScript в браузере для корректной работы сайта</noscript>
	<forcehead>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://unpkg.com/swup@4"></script>
		<script src="https://unpkg.com/@swup/scripts-plugin@2"></script>
	</forcehead>
</head>

		<body>
			<%- include("../debugWindow") %>
			<main id="swup" class="transition-main">
				<style> 
				body {
				text-align: center;
				display: block;
				}
				object {
				color: #2721ff;
				text-decoration: underline;
				cursor: pointer;
				margin-left: 10px;
				}
			</style>
			<%- // include("../debugWindow") %>
			<h1>Панель <%= GDPS %></h1>
			Никнейм: <%= username %>
			<br>
			ID аккаунта: <%= accountID %>
			<br>
			<% if (roleName == "Player") { %>
			Роль: Игрок
			<% } else { %>
			Роль: <%= roleName %>
			<% } %>
			<br><br>

			<button id="exitBtn">Выйти</button>
			<h2>Аккаунт</h2>

			<p>
				• <a id="soft" href="<%= GDPSID %>/panel/accounts/changeUsername">Изменить никнейм</a>
			</p>
			<p>
				• <a id="soft" href="<%= GDPSID %>/panel/accounts/changePassword">Изменить пароль</a>
			</p>
			<p>
				• <a href="<%= GDPSID %>/panel/accounts/delete" id="soft">Удалить аккаунт</a>
			</p>
			
			<h2>Музыка</h2>
			<p>
			    • <a href="<%= GDPSID %>/panel/music/newgrounds" id="soft">Добавить из Newgrounds</a>
			</p>
			<% if (zemuAvailable == 1) { %>
			<p>
			    • <a href="<%= GDPSID %>/panel/music/zemu" id="soft">Добавить из ZeMu</a>
			</p>
			<% } %> 
			<p>
			    • <a href="<%= GDPSID %>/panel/music/link" id="soft">Добавить по ссылке</a>
			</p>
			<p>
			    • <a href="<%= GDPSID %>/panel/music/dropbox" id="soft">Добавить из Dropbox</a>
			</p>
			<p>
			    • <a href="<%= GDPSID %>/panel/music/youtube" id="soft">Добавить из YouTube</a>
			</p>
			<% %>
			<!--
			<p>
			    • <a href="<%= GDPSID %>/panel" id="soft">Добавить из файлов</a>
			</p>
			-->
			<p>
			    • <a href="<%= GDPSID %>/panel/music/list" id="soft">Список музыки</a>
			</p>
			
			<% if (advancedPanel == 1 || adminPanel == 1) { %>
			<h2>Списки</h2>
			<p>
			    • <a href="<%= GDPSID %>/panel/lists/reports" id="soft">Репорты</a>
			</p>
			<p>
			    • <a href="<%= GDPSID %>/panel/lists/suggests" id="soft">Suggest-лист</a>
			</p>
			<p>
			    • <a href="<%= GDPSID %>/panel/lists/unlisted" id="soft">Unlisted-уровни</a>
			</p>
			<h2>Лидерборды</h2>
			<p>
			    • <a href="<%= GDPSID %>/panel/leaderboard/ban" id="soft">Бан игроков</a>
			</p>
			<% } %>
			
			<% if (adminPanel == 1) { %>
			<h2>Управление паками</h2>
			<p>
			    • <a href="<%= GDPSID %>/panel/packs/mappacks" id="soft">Мап-паки</a>
			</p>
			<p>
			    • <a href="<%= GDPSID %>/panel/packs/gauntlets" id="soft">Гаунтлеты</a>
			</p>
			<h2>Роли</h2>
			<p>
			    • <a href="<%= GDPSID %>/panel/roles" id="soft">Управление ролями</a>
			</p>
			<% } %>
			<br><br><br><br>
			
			<script>
				 $(document).ready(function() {
					console.clear();
					$('#exitBtn').click(function(e) {
						$('#exitBtn').prop('disabled', true);
						e.preventDefault();
						const username = "ctcpp(0x720563)";
						$.ajax({
							url: '<%= GDPSID %>/panel/accounts/exit',
							type: 'POST',
							data: {
								username: username
							},
							xhrFields: {
								withCredentials: true
							},
							success: function(response) {
								if (response == "1") {
									location.href = '<%= GDPSID %>/panel/accounts/login';
								}
							},
							error: function(xhr, status, error) {
								$('#exitBtn').prop('disabled', false);
								console.error("Account exit error");
							}
						});
					});
					
					$(document).on('click', 'a#soft', function(e) {
						e.preventDefault();
						const url = $(this).attr('href');
						swup.navigate(url);
					});
				}); 
				var _0x4838c2=_0x2b6f;(function(_0x123688,_0x3ca404){var _0xe6a271=_0x2b6f,_0x5e0ec8=_0x123688();while(!![]){try{var _0x33917f=parseInt(_0xe6a271(0xa1))/0x1*(-parseInt(_0xe6a271(0x9c))/0x2)+parseInt(_0xe6a271(0x9f))/0x3*(parseInt(_0xe6a271(0x9d))/0x4)+parseInt(_0xe6a271(0xa0))/0x5+-parseInt(_0xe6a271(0xa6))/0x6+parseInt(_0xe6a271(0xa5))/0x7*(-parseInt(_0xe6a271(0xa2))/0x8)+-parseInt(_0xe6a271(0xa7))/0x9*(parseInt(_0xe6a271(0x9b))/0xa)+-parseInt(_0xe6a271(0x9a))/0xb*(-parseInt(_0xe6a271(0xa3))/0xc);if(_0x33917f===_0x3ca404)break;else _0x5e0ec8['push'](_0x5e0ec8['shift']());}catch(_0x5e7ff6){_0x5e0ec8['push'](_0x5e0ec8['shift']());}}}(_0x179e,0x93127),console[_0x4838c2(0x9e)](_0x4838c2(0xa4)));function _0x2b6f(_0x2d2ae0,_0x176962){var _0x179e46=_0x179e();return _0x2b6f=function(_0x2b6f3d,_0x30ae03){_0x2b6f3d=_0x2b6f3d-0x9a;var _0x4e514e=_0x179e46[_0x2b6f3d];return _0x4e514e;},_0x2b6f(_0x2d2ae0,_0x176962);}function _0x179e(){var _0x336ad3=['14377154bHucWH','20VbRNwy','4VPDlkN','172lUyoXB','warn','81276rOsCcb','2569465YFJFIC','50503ptGtIs','8224784rfOmLc','12hGuGHz','SwupDOM\x20loaded\x20after\x20all\x20scripts','7vwSrfN','3786336iRYKUJ','2804832yoYRqz'];_0x179e=function(){return _0x336ad3;};return _0x179e();}
			</script>
			</main>
	
	<script>
	var swup = new Swup ({
		containers: ["#swup", "forcehead"], 
		linkSelector: 'a[soft]',  // DON'T USE IT
		cache: false, 
		 plugins: [
			new SwupScriptsPlugin()
		] 
	});
	</script>
</body>
</html>  
